.sidebar{
    height: auto;
    align-items: center;
    justify-content: center;
}
.menu{
    display: block;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
.rigth{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #022050;
    color: white;
    font-weight: bold;
}
